body {
    margin: 0 !important;
    padding: 0 !important;
}

:root {
    --bg_brown: rgba(96, 84, 19, 0.514);
    --hover_blue: #33C3F0;
}

body {
    font-size: 18px !important;
}
/* navbar css */

#main_nav {

}   

#hello {
    white-space: nowrap;
}

.listed_languages {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    gap: 20px 20px;
    flex-wrap: wrap;
}

.listed_icons_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 24px;
    white-space: nowrap;

    border: 1px solid #888;
    background-color: #888;
    width: 180px;
    border-radius: 3px;
    padding: 10px;
}

.listed_icons_text:hover {
    color: #888;
    background-color: white;
    cursor: pointer;
}

/* introduction css */
.name-introduction > img {
    border-radius: 100%;
    width: 50%;
    box-shadow:
    0px 0.5px 2.2px rgba(0, 0, 0, 0.02),
    0px 1.1px 5.3px rgba(0, 0, 0, 0.028),
    0px 2.1px 10px rgba(0, 0, 0, 0.035),
    0px 3.8px 17.9px rgba(0, 0, 0, 0.042),
    0px 7.1px 33.4px rgba(0, 0, 0, 0.05),
    0px 17px 80px rgba(0, 0, 0, 0.07)
  ;
}

.name-introduction > img:hover {
    outline: 1px solid goldenrod;
}

.name-introduction {
    text-align: center;
}

.introduction {
    padding-bottom: 100px !important;
}

.about-me {
    margin: 0 auto;
    text-align: left;
}

#languages {
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#_icons {
    /* display: flex; */
    /* gap: 50px; */
    padding-left: 40%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

/* contact */
.contact {
    color: rgba(150, 131, 23, 0.514);
    border: 0;
}

.contact:hover{
    background-color: rgba(97, 85, 16, 0.514);
    /* color: white !important; */
    border: 0;
    transition: all  0.3s ease-in-out ;
}

#projects {
    padding: 10px;
}

.section {
    padding-bottom: 100px !important;
}
/* knowables css */
.knowables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding-top: 50px !important;
    text-align: left;
    background-color: var(--bg_brown);
    color: white;
}

.styled_btn {
    /* font-size: 24px; */
    border: none;
}

.styled_btn:hover {
    color: #1EAEDB !important;
    background-color: white !important;
    border: none !important;
}

.certificates_container {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.certificate_container {
    display: flex;

    align-items: flex-start;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.certificate-image {
    width: 500px;
    overflow: hidden;
    /* object-fit: cover !important; */
}

.text-content {
    display: flex;
    flex-direction: column;
    /* font-size: 20px; */
    text-align: left;
}

.modal {
    height: 100vh;
    box-sizing: border-box;
}

.modal-content {
    padding-top: 100px !important;
}

input {
    padding: 10px;
    /* border-radius: 10px; */
}

#message {
    width: 100%;
    min-height: 14vh;
}

.submit_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit_container p {
    padding-top: 12px;
}


/* Blog Page CSS */
#background {
    position: relative;
}
#aside {
    position: absolute;
    width: 30%;
    top: 30%;
    left: 103%;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(96, 84, 19, 0.54); */
    background-color: var(--hover_blue);
    color: white;
    opacity: 1;
    padding: 10px;
}

#aside a {
    white-space: nowrap;
    color: white;
    text-decoration: none;
}

#aside a:hover {
    color: var(--bg_brown);
    /* border-bottom: 1px solid var(--hover_blue); */
}